name: Test Composite
description: "How do composites work?"

inputs:
  env-name:
    required: false
    default: "default"

runs:
  using: "composite"
  steps:
    - name: Display Variables
      shell: bash
      run: echo "Test Composite ENV ${{ inputs.env-name }}"

    - name: Verify Pass
      shell: bash
      run: |
        echo Password is $PASSWORD
        if [[ $PASSWORD == *"INT"* ]]; then
          echo "This is the INT password!"
        else
          echo "This is NOT the INT password!"
        fi
