name: Test Composite
description: "How do composites work?"

inputs:
  env-name:
    required: false
    default: "default"
  password:
    required: true

runs:
  using: "composite"
  steps:
    - name: Display Input
      shell: bash
      run: echo "env-name -- ${{ inputs.env-name }}"

    - name: Verify Password
      shell: bash
      run: |
        echo Password is ${{ inputs.password }}
        if [[ ${{ inputs.password }} == *"INT"* ]]
        then
          echo "This is the INT password!"
        elif [[ ${{ inputs.password }} == *"QA"* ]]
        then
          echo "This is the QA password!"
        elif [[ ${{ inputs.password }} == *"PRD"* ]]
        then
          echo "This is the PRD password!"
        elif [[ ${{ inputs.password }} == *"DEFAULT"* ]]
        then
          echo "This is the DEFAULT password!"
        else
          echo "This is NOT a stored password!"
        fi
