# This is a basic workflow to help you get started with Actions
name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # composite:
  #   name: Composite
  #   runs-on: ubuntu-latest
  #   uses: ./.github/workflows/composite/print-vars

  # This workflow contains a single job called "build"
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: QA

    steps:
      - name: Dump Password
        env:
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          echo Password is $PASSWORD
          if [[ $PASSWORD == *"PROD"* ]]; then
            echo "This is the PROD password!"
          else
            echo "This is NOT the PROD password!"
          fi
