name: Reusable Template

on:
  workflow_call:
    inputs:
      environment:
        type: string
        description: environment to deploy to
        required: true
    secrets:
      PASSWORD:
        required: true

jobs:
  deploy:
    name: Deploy to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Dump Password
        env:
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          echo Password is $PASSWORD
          if [[ $PASSWORD == *"QA"* ]]; then
            echo "This is the QA password!"
          else
            echo "This is NOT the QA password!"
          fi
