name: Reusable Template

on:
  workflow_call:
    inputs:
      environment:
        type: string
        description: environment to deploy to
        required: true
    secrets:
      PASSWORD:
        required: true

jobs:
  deploy:
    name: Deploy to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Dump Password
        run: |
          # echo Password is ${{ secrets.PASSWORD }}
          if [[ ${{ secrets.PASSWORD }} == *"INT"* ]]
          then
            echo "This is the INT password!"
          elif [[ ${{ secrets.PASSWORD }} == *"QA"* ]]
          then
            echo "This is the QA password!"
          elif [[ ${{ secrets.PASSWORD }} == *"PRD"* ]]
          then
            echo "This is the PRD password!"
          elif [[ ${{ secrets.PASSWORD }} == *"DEFAULT"* ]]
          then
            echo "This is the DEFAULT password!"
          else
            echo "This is NOT a stored password!"
          fi

      - name: Dump Var
        run: echo ${{ vars.ENV_CHECK }}
